<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="archivistpro"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data android:name="flutterEmbedding" android:value="2"/>

        <!-- Cast options provider -->
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.felnanuke.google_cast.GoogleCastOptionsProvider" />

        <!-- Cast media notification service -->
        <service
            android:name="com.google.android.gms.cast.framework.media.MediaNotificationService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <!-- Cast media intent receiver -->
        <receiver
            android:name="com.google.android.gms.cast.framework.media.MediaIntentReceiver"
            android:exported="false"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.google.android.gms.cast.framework.action.TOGGLE_PLAYBACK" />
                <action android:name="com.google.android.gms.cast.framework.action.STOP_CASTING" />
                <action android:name="com.google.android.gms.cast.framework.action.SKIP_NEXT" />
                <action android:name="com.google.android.gms.cast.framework.action.SKIP_PREV" />
                <action android:name="com.google.android.gms.cast.framework.action.FORWARD" />
                <action android:name="com.google.android.gms.cast.framework.action.REWIND" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
